body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.container{
    display: inline-block;
    width: 800px;
    height:600px;
    margin-left: calc(50% - 400px);
    margin-top: calc(50vh - 300px);
    background-color: #34495D;
    text-align: center;
    line-height: 1em;
    background-image: url(../img/Center.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.main-title{
    font-size: 100px;
    margin-top: 250px;
    word-spacing: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.title-img{
    height: 100px;
}

.second-title{
    color: #667787;
    font-size: 20px;
    margin-bottom: 0.5em;
}

.description{
    color: #667787;
    font-size: 12px;
    margin-bottom: 100px;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home{
    width: 160px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    user-select: none;
}

.home-img{
    margin-top: 50px;
    height: 20px;
    width: 100%;
    object-fit: contain;
}

.home:hover {
    text-decoration: underline;
}

.fixed-img-1{
    position: absolute;
    top: 45px;
    right: 280px;
    height: 40px;
    width: 40px;
}

.fixed-img-2{
    position: absolute;
    top: 160px;
    left: 350px;
    height: 25px;
    width: 25px;
}

.fixed-img-3{
    position: absolute;
    top: 350px;
    right: 180px;
    height: 25px;
    width: 25px;
}